
// Global variable overrides. Must be declared before importing Valo.

$v-focus-color: rgb(96, 160, 234) !default;
$v-error-indicator-color: #eb2977 !default;
$v-friendly-color: rgb(54, 185, 85);

$editor-background-color: #3b3f42 !default;

$editor-shadow: 0 0 10px 10px rgba(0,0,0,.1) !default;
$editor-embed-background-color: darken($editor-background-color, 5%) !default;
$editor-raised-background-color: lighten($editor-background-color, 10%) !default;
$editor-caption-font-color: valo-font-color($editor-background-color, 0.5) !default;

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .movie-form {

  }

  .about-view {

  }


}